<div class="poster">
  <img [style]="{ width: '100%' }" [src]="srcImg" alt="img-movies" />
  <div class="detail">
    <h2 [style]="{ width: '100%', textAlign: 'center' }">
      {{ movie.title }}
    </h2>
    <div class="overview">
      {{ movie.overview | cutString }}
    </div>
    <div class="action p-d-flex p-jc-center">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-info-circle"
        class="p-button-rounded p-button-secondary p-mx-2"
        [title]="'Click to see detail'"
        routerLink="{{ movie.id }}/detail"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-heart"
        class="p-button-rounded p-mx-2"
        [ngClass]="{
          'p-button-secondary': !isFavorite,
          'p-button-danger': isFavorite
        }"
        (click)="favoriteClick()"
      ></button>
    </div>
  </div>
</div>
