<nav class="p-grid border-bottom p-jc-center">
  <div class="p-col-12 p-md-8 p-d-flex p-jc-between">
    <span
      class="p-text-bold p-px-3 p-py-2"
      [style]="{
        border: '3px solid black',
        cursor: 'pointer'
      }"
      routerLink="/"
    >
      Demo
    </span>
    <ul
      class="navbar p-d-flex p-my-2"
      [style]="{ listStyle: 'none', display: 'flex' }"
    >
      <li
        *ngFor="let nav of navList"
        routerLink="{{ nav.link }}"
        class="navbar-item p-mx-3"
        routerLinkActive="active"
      >
        {{ nav.name }}
      </li>
    </ul>
  </div>
</nav>

<div class="p-grid p-jc-center">
  <div class="p-col-12 p-md-8">
    <router-outlet></router-outlet>
  </div>
</div>
